@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #f0fcfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-title {
  width: 100%;
  color: #90b1b3;
  text-align: center;
  font-size: 50px;
}

.textarea {
  display: block;
  width: 800px;
  height: 200px;
  font-size: 20px;
  padding: 15px;
  margin: 10px;
  color: #90b1b3;
  outline: none;
  border: 4px solid #000;
  border-radius: 10px;
  resize: none;
}

.keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  width: 800px;
  height: 400px;
  background-color: #90b1b3;
  border: 4px solid #000;
  border-radius: 10px;
  padding: 5px;
}

.keyboard-row {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.keyboard-row:nth-child(1) {
  -ms-grid-columns: (1fr)[13] 1.5fr;
      grid-template-columns: repeat(13, 1fr) 1.5fr;
  gap: 5px;
}

.keyboard-row:nth-child(1) .key-button:last-child {
  font-size: 14px;
}

.keyboard-row:nth-child(2) {
  -ms-grid-columns: 1.5fr (1fr)[12] 1.5fr;
      grid-template-columns: 1.5fr repeat(12, 1fr) 1.5fr;
  gap: 5px;
}

.keyboard-row:nth-child(3) {
  -ms-grid-columns: 2fr (1fr)[12];
      grid-template-columns: 2fr repeat(12, 1fr);
  gap: 5px;
}

.keyboard-row:nth-child(4) {
  -ms-grid-columns: 2fr (1fr)[11] 1.5fr;
      grid-template-columns: 2fr repeat(11, 1fr) 1.5fr;
  gap: 5px;
}

.keyboard-row:nth-child(5) {
  -ms-grid-columns: (1fr)[3] 6fr (1fr)[5];
      grid-template-columns: repeat(3, 1fr) 6fr repeat(5, 1fr);
  gap: 5px;
}

.key-button {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
}

.key-button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #a6f3f7;
}

.active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #a6f3f7;
}

.arrowup-key {
  position: relative;
}

.arrowup-key::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background: url(../../assets/svg/uparrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrowdown-key {
  position: relative;
}

.arrowdown-key::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background: url(../../assets/svg/arrowdown.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrowleft-key {
  position: relative;
}

.arrowleft-key::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background: url(../../assets/svg/arrowleft.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.arrowright-key {
  position: relative;
}

.arrowright-key::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  background: url(../../assets/svg/arrowright.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */